{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'style2.css' %}">
  <title>The One Fitness Center</title>
</head>

<body>

    <header>

        <h1 class="titulo">The One Fitness Center</h1>

        <a href="{% url 'index' %}#pg-inicio"><img class="logo" src="{% static 'logo-removebg-preview.png' %}" alt="Logo"></a>
  
    </header>

    <hr/>

    <main class="cadastro">

    <form action="{% url 'cadastro' %}" method="POST">
        
        {% csrf_token %}

        <h1>Nome</h1>
        <input type="Nome" name="nome">

        <h1>Email</h1>
        <input type="Email" name="email">

        <h1>Senha</h1>
        <input type="Senha1" name="senha">

        <h1>Repita a Senha</h1>
        <input type="Senha2" name="senha2">

        <section>
            
            <button class="btn btn-primary" type="submit">Cadastrar</button>

            <button class="btn btn-primary" type="submit"><a href="{% url 'login' %}"> Entrar </a></button>

        </section>

    </form>

    </main>

    <footer>

        <p>&copy; 2024 The One Fitness Center. Todos os direitos reservados.</p>
    
    </footer>
    
</body>

</html>